
footer {
    background-color: #eccea1;
    color: #fff;
    padding: 20px 30px ;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-contact,
.footer-social {
    flex: 1;
    margin-bottom: 20px;
}

h2 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin: 0;
}


ul {
    list-style: none;
    width: 100%;
    display: flex;
    margin: 10px;
    text-align: left;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

i {
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 10 auto;
}

.text-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
}

body, h1, form, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

input[type="text"],
input[type="tel"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
